body {
    font-family: 'Quicksand', sans-serif;
    color: #3B4C52;
}

.ikon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.btn-hitung, .btn-hitung:hover {
    background-color:#FF4F5A;
    border-color: #FF4F5A;
}

.github {
    width: 15px;
    height: auto;
}

#hasil {
    color: #3B4C52;
    border-radius: 5px;
}

/* Article Style */
article .separate{display:block;margin:4em 0}
article .separate:before{content:'\2027 \2027 \2027';display:block;text-align:center;font-size:28px;font-style:normal;letter-spacing:0.6em;text-indent:0.6em;clear:both}
article .note{position:relative;padding:20px 30px 20px 50px;background-color:#e1f5fe;color:#01579b;font-size:.85rem;font-family:var(--font-body);line-height:1.62em;border-radius:2px}
article .note:before{content:'\2605';position:absolute;left:18px;font-size:20px}
article .noteAlert{background-color:#ffdfdf;color:#e65151}
article .noteAlert:before{content:'\2691'}
article .textIndent{text-indent:2.2rem}
article .dropCap{float:left;margin:6px 8px 0 0;font-size:55px;line-height:45px}
article .extLink:after{content:'';width:14px;height:14px;display:inline-block;margin-left:5px; background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23204ecf' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/><polyline points='15 3 21 3 21 9'/><line x1='10' x2='21' y1='14' y2='3'/></svg>") center / 15px no-repeat}
article .extLink.alt:after{background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23204ecf' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/><path d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/></svg>")}
article .postCaption{display:block;font-size:12px;line-height:1.8em;margin-top:5px}
article .postReference{display:block;font-size:13px;color:var(--body-altColor);line-height:1.7em}
article.post .postEntry img.fullImg{display:block!important;margin-bottom:10px;position:relative;width:110%;max-width:none;left:-5%}
@media screen and (max-width: 640px){article.post .postEntry img.fullImg{width:calc(100% + 40px);left:-20px}}
